@font-face {
	font-family: Lato-Bold;
	src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
	font-family: Lato-Regular;
	src: url('../fonts/Lato/Lato-Regular.ttf');
}

table.center {
	width: 800px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

	border-radius: 10px;

	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

th {
}
td {
	font-family: Lato-Regular;
	font-size: 15px;
	color: #808080;
	line-height: 2;
	padding: 5px 10px 5px 10px;
}

td.header {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #fff;
	line-height: 2;

	background-color: #6c7ae0;
}

tr:nth-child(even) {
	background-color: #f8f6ff;
}
