.table {
	border-radius: 10px;
}

table.center {
	width: 600px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;

	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

th {
	/* font-family: Lato-Bold; */
	/* font-size: 18px;
	color: #fff;
	line-height: 1.4;

	background-color: #6c7ae0; */
}
td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px 10px 5px 10px;
}

td.header {
	font-size: 18px;
	color: #fff;
	line-height: 1.4;

	background-color: #6c7ae0;
}

tr:nth-child(even) {
	background-color: #f8f6ff;
}
